---
layout: default
---
<h1>South Hemisphere, by Price</h1>

{% assign items = site.data.items | where_exp: 'item', 'item.price.south > 0' | sort: 'price.south' | reverse %}
<div class="items">
  {% for item in items %}
  <div class="item-image {{ item.type }} {% for m in item.months.south %}month-{{ m }} {% endfor %}{% for t in item.times %}time-{{ t }} {% endfor %}">
    {% if item.image %}<img src="{{ item.image }}" />{% endif %}
  </div>
  <div class="item-text {{ item.type }} {% for m in item.months.south %}month-{{ m }} {% endfor %}{% for t in item.times %}time-{{ t }} {% endfor %}">
    <span class="name">{{ item.name }}</span>
    <br>
    <span class="price">{{ item.price.south }}</span>
  </div>
  <div class="item-times {{ item.type }} {% for m in item.months.south %}month-{{ m }} {% endfor %}{% for t in item.times %}time-{{ t }} {% endfor %}">
    {{ item.time }}
  </div>
  {% endfor %}
</div>
